.carousel-container {
    overflow: hidden;
    max-width: 100vw;
  }
  
  .carousel-scroller {
    display: flex;
    height: 100%;
    width: max-content;
  }
  
  .scroller-content {
    display: flex;
  }
  
  .carousel-item {
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* Fixed width for consistency */
    width: 600px; /* Adjust this value as needed */
    margin: 0 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    overflow: hidden;
  }
  
  .carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    object-position: top;
    border-radius: 8px;
    box-shadow: 10px 5px 5px black;
  }