
h1 {
  font-family: "new-kansas", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 64px;
  margin: 0; 
}

p {
  font-family: "area-normal", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 16px;
  margin: 0;
}


.contentText {
  max-width: 60vw;
  display: flex; 
  flex-direction: column;
  align-items: center;
  gap: 10px; 
}

.word {
  display: inline-block;
}


/* Initial loading of text */ 
.char {
  opacity: 0;                
  animation: appear 0.01s ease-in;  
  animation-fill-mode: forwards; 
  display: inline-block;      
}

@keyframes appear {          
  to {
    opacity: 1;               
  }
}

/* Loading of body text */

.hidden {
  opacity: 0; 
  transition: opacity 0.8s ease-in; 
}

.visible {
  opacity: 1; 
  transition: opacity 0.8s ease-in; 
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 40px;
  }
  p {
    font-size: 14px;
  }
}
