.extraLinks {
  display: flex; 
  align-items: center;
  justify-content: center; 
  gap: 20px;
  z-index: 1; 
  margin-right: 20px;
}

.extraLinks a {
  color: rgb(0, 0, 0);
  transition: transform 0.2s ease;
  height: 25px; 
  display: inline-block;  
  position: relative; 
}

.extraLinks a::before {
  content: ''; 
  display: block;
  position: absolute;
  top: -10px;
  left: 0;
  right: 0;
  bottom: 0;
  background: transparent;
}

.extraLinks a:hover {
  transform: translateY(-10px);
}
