$contentHeightTall: 80vh; 
$contentHeightMedium: 60vh; 
$contentHeightShort: 40vh; 



.content-space {
  height: 100vh;
  width: 100vw; 
  position: absolute; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-y: scroll;
  z-index: 2;
}

@media screen and (max-width: 650px) {
  .content-space {
    height: -webkit-fill-available; 
  }
}

.hideContent {
  display: none;
}

.listContent {
  backdrop-filter: blur(0px);
  transition: backdrop-filter 0.3s ease;
}

.listContent.showContent {
  width: 100vw; 
  height: 100vh; 
  display: flex; 
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 12vh 0; 
  overflow-y: scroll;
  backdrop-filter: blur(20px);
  animation: fadeIn 2.5s ease 0s forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(100vh);
  }
  to {
    opacity: 1; 
    transform: translateY(0);
  }
}



/* ##### CONTENT BLOCKS FOR EXPERIENCES/PROJECTS ##### */

@media screen and (min-width: 1500px) {
  .content-box {
    width: 40vw;
  }
}

.content-box {  
  width: 85vw;
  height: 30vh; 
  padding: 15px; 
  border-style: solid;
  border-color: black;
  flex-shrink: 0; 
  background-color: rgba(216, 216, 216, 0.5);
  overflow: hidden; 
  transition: background-color 0.5s ease, height 1.5s ease, box-shadow 1s ease; 
}

.content-box:hover {
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0px 3px 4px rgb(0, 0, 0);
  cursor: pointer; 
}

.content-box h1 {
  margin-top: 1vh;
  font-size: 40px;
}

.experience-design {
  display: flex; 
  flex-direction: column;
}

.expandExperience {
  height: 50vh;
  background-color: rgba(255, 255, 255, 0.9);
}

.expandExperience.tall {
  height: $contentHeightTall;
}

.expandExperience.medium {
  height: $contentHeightMedium;
}

.expandExperience.short {
  height: $contentHeightShort;
}

.hideExperience {
  background-color: rgba(216, 216, 216, 0.5);
}

@media screen and (max-width: 650px) {
  .content-box {
    height: 30vh;
    width: 70vw; 
    transition: width 1.5s ease, height 1.5s ease; 
  }
  .content-box h1 {
    font-size: 24px
  }
  .content-box p {
    font-size: 12px; 
  }
  .expandExperience {
    width: 80vw; 
    height: 60vh; 
  }
}

/* ##### EXPERIENCES ##### */


.experience-image {
  display: flex; 
  align-items: center;
  justify-content: center;
  border-bottom-style: solid;
  border-width: 2px;
  flex-basis: 30%; 
}

.experience-image img {
  height: 80px; 
}

.experience-information {
  margin: 0 auto; 
}

@media screen and (max-width: 650px) {
  .experience-image {
    max-height: 70px;
  }
  .experience-image img {
    height: 50px; 
  }
}

/* ##### PROJECTS ##### */ 

.project-design {
  display: flex; 
}
.project-content {
  overflow: scroll;
  min-width: 310px;
  
}

.content-wrapper {
  display: flex;
  flex-direction: column; 
  gap: 15px;
}

.project-content video {
  border-radius: 10px;
  width: 100%;
  height: 360px; 
  object-fit: cover; 
}

.project-content img {
  border-radius: 10px; 
  width: 100%; 
  height: 360px;
  object-fit: cover;
}

.project-content a {
  width: 50px; 
  margin: auto auto; 
}

.extra-image {
  max-height: 50vh;
}


@media screen and (max-width: 650px) {
  .project-design {
    display: flex;
    flex-direction: column; 
    height: 50vh;
  }
  .project-content {
    overflow: visible;
    height: 50vh; 
  }
  .content-wrapper {
    width: 100%; 
  }
  .project-content img {
    height: 50vh; 
  }
  .project-content video {
    height: 50vh;
  }
  
  .project-design h1 {
    padding: 0; 
  }
  .project-design p {
    padding: 0; 
  }
  
}


/* ###### Hire Me ####### */

.listContent.showContent.hireMe {
  justify-content: center;
}


