$menu-height: 100vh;
$menu-item-height: 30px;
$menu-item-border-width: 2px;
$transition-time: 2.2s; 


.menu {
  padding: 0; 
  width: 100vw;
  height: $menu-height;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  
}

.menu-item {
  margin-top: -2px;
  box-sizing: border-box; 
  width: 100%; 
  border-style: solid;
  border-width: $menu-item-border-width;
  display: flex;
  align-items: center;
  font-family: "area-normal", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 16px;
  height: $menu-item-height;
  transition: border-width 3s ease, margin-top 1s ease, margin-bottom 1s ease;
  z-index: 3;
}

.menu-item p {
  padding-left: 40vw; 
}

.menu-item-1 { 
  background-color: #FC1C1C;
  transition: transform $transition-time ease;
  
  &.menu-1-active {
    $translateY: calc(-#{$menu-height} + #{3*$menu-item-height} + #{4*$menu-item-border-width});
    transform: translateY($translateY);
  }
}

.menu-item-2 {
  background-color: #ED5959;
  transition: transform $transition-time ease; 

  &.menu-2-active {
    $translateY: calc(-#{$menu-height} + #{3*$menu-item-height} + #{4*$menu-item-border-width});
    transform: translateY($translateY);
  }
}

.menu-item-3 {
  background-color: #B990FC;
  transition: transform $transition-time ease; 

  &.menu-3-active {
    $translateY: calc(-#{$menu-height} + #{3*$menu-item-height} + #{4*$menu-item-border-width});
    transform: translateY($translateY);
  }
}

.menu-item:hover {
  cursor: pointer;
  z-index: 3; 
  opacity: 0.95; 
  box-shadow: 0 8px 10px rgba(1, 1, 1, 0.2);
}




