.menu {
  padding: 0; 
  width: 100vw;
  height: 100vh;
  background-color: blue;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  
}

.menu-item {
  margin-top: -2px;
  width: 99.6%; 
  border-style: solid;
  border-width: 2px;
  display: flex;
  align-items: center;
  font-family: "area-normal", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 16px;
  height: 3vh;
  transition: margin-top 1s ease, margin-bottom 1s ease; 
}

.menu-1-active {
  margin-top: 0;
  margin-bottom: auto;
}

.menu-2-active {
  margin-top: 0;
  margin-bottom: 0;
}

.menu-3-active {
  margin-bottom: auto;
}

.menu-4-active {
  margin-top: 0;
  margin-bottom: 0;
}

.menu-5-active {
  margin-bottom: 0;
}

.menu-6-active {
  margin-bottom: auto;
}

.menu-item p {
  padding-left: 40vw; 
}
.menu-item-1 {
  margin-top: auto; 
  background-color: #FC1C1C;
}

.menu-item-2 {
  background-color: #ED5959;
}

.menu-item-3 {
  background-color: #B990FC;
}

.menu-item:hover {
  transform: scaleY(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
